<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.2.2" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net45" />
  <package id="Glass.Mapper" version="3.0.15.31" targetFramework="net45" />
  <package id="Glass.Mapper.Sc" version="3.3.0.51" targetFramework="net45" />
</packages>