<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.2.2" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net45" />
  <package id="Castle.Windsor.Lifestyles" version="0.3.0" targetFramework="net45" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net45" />
  <package id="Elmah.Mvc" version="2.1.2" targetFramework="net45" />
  <package id="Glass.Mapper" version="3.0.15.31" targetFramework="net45" />
  <package id="Glass.Mapper.Sc" version="3.3.0.51" targetFramework="net45" />
  <package id="Glass.Mapper.Sc.CastleWindsor" version="3.3.1.26" targetFramework="net45" />
  <package id="Glimpse" version="1.8.2" targetFramework="net45" />
  <package id="Glimpse.AspNet" version="1.8.0" targetFramework="net45" />
  <package id="Glimpse.Mvc5" version="1.5.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="SlowCheetah" version="2.5.15" targetFramework="net45" />
</packages>